<link rel="stylesheet" href="/css/classroom.css">
    <div id="copy-classroom-code">
        <span id="classroom-code" data-classroom-code="<%= classroom._id %>"><%= classroom._id %></span>
        <button id="copy-code-btn">copy code</button>
    </div>

    <form id="make-announcement" action="/classrooms/make-announcement" method="post">
        <textarea name="content" id="" cols="30" rows="4" placeholder="Make your announcement"></textarea>
        <input type="hidden" name="classroom_id" value="<%= classroom._id %>" >
        <input type="submit">
    </form>
    <section id="all-announcements">
        <% for(announcement of classroom.announcements){ %>
            <div class="announcement">
                <h3><%= announcement.user.name %></h3>
                <% if(classroom.teacher.toString() === locals.user.id){ %>
                    <% link = "/users/classroom/delete-post"+"?"+"classroom_id="+classroom._id.toString()+"&"+"announcement_id="+announcement.id %>
                   <div class="delete"><a href="<%=link %>"><i class="fas fa-times"></i></a></div>
                    <% } %>
                <small><%= announcement.content %></small>
            </div>
            <% } %>
    </section>
    <script src="/js/classroom.js"></script>